<p-menubar>
  <div></div>

  <div class="flex align-items-center ml-auto">
    <ng-container *ngIf="!isLoggedIn">
      <button pButton label="Iniciar sesión" class="p-button-text" (click)="irLogin()"></button>
      <button pButton label="Registrarse" class="p-button-outlined ml-2" (click)="irRegistro()"></button>
    </ng-container>

    <ng-container *ngIf="isLoggedIn">
      <button pButton label="Cerrar sesión" class="p-button-outlined ml-2" (click)="cerrarSesion()"></button>
    </ng-container>
  </div>
</p-menubar>


