:host ::ng-deep .p-menubar {
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 0.5rem 2rem;
  font-family: 'Segoe UI', sans-serif;
}

:host ::ng-deep .p-button-text {
  color: #2d87f0;
  font-weight: bold;
}

:host ::ng-deep .p-button-outlined {
  border-color: #2d87f0;
  color: #2d87f0;
  font-weight: bold;
}

:host ::ng-deep .p-button-outlined:hover,
:host ::ng-deep .p-button-text:hover {
  background-color: #2d87f0;
  color: white;
  border-color: #2d87f0;
}

:host ::ng-deep .p-menubar-root-list {
  align-items: center;
}

:host ::ng-deep .p-menubar-button {
  display: none;
}
